@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color:gray;
  margin: 48px 0 0 0;
}
header{
  background-color:red;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%
}
#main1{
  background-color:purple;
  width: calc(100% - 200px)
  min-width: 500px;
  float: left;
}
.box{
  background-color:blue;
  color: black;
  width: 240px;
  height: 80px;
  margin:5px;
  float: left;
  overflow: auto;
}
aside{
  background-color:green;
  width: 200px;
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}
footer{
  background-color:yellow;
  clear: both;
}
